rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /admin/{adminDoc} {
      allow read, write: if true;
    }
    
    match /rekod/{rekodId} {
      allow read, write: if true;
    }
  }
}
